## Platform Pete Industries - Network Documentation

Router Interfaces

| Interface Name | enabled | line protocol
| -------------- | ------- | ------------ |
{% for item in interface_report | dict2items %}
| {{ item.key }} | {{ item.value.enabled }} | {{ item.value.line_protocol }}
{% endfor %}
