
[code]
<html>
  <head>
    <title>Title of the document</title>
    <style>
      table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
  </head>
<!--show interface IP brief data-->
<h1>Router Interfaces</h1>
{% for item in interface_data | dict2items %}
<header>
  <h2>{{ item.key }}</h2>
</header>
<table>
  <tr>
    <th>Interface Name</th>
    <th>Status</th>
    <th>Line Protocol</th>
  </tr>
  {% for k, v in item.value.items() %}
  <tr>
    <td>{{ k }}</td>
    <td>{{ v.status }}</td>
    <td>{{ v.protocol }}</td>
  </tr>
{% endfor %}
</table>
{% endfor %}
<!--show interface IP brief data-->
<h1> OSPF Neighbors </h1>
{% for item in ospf_nei_data | dict2items %}
<header>
  <h2>{{ item.key }}</h2>
</header>
<table>
  <tr>
    <th>Interface Name</th>
    <th>Neighbor Router ID</th>
    <th>State</th>
  </tr>
  {% for k, v in item.value.items() %}
  {% for nei, v2 in v.neighbors.items() %}
  <tr>
    <td>{{ k }}</th>
    <td>{{ nei }}</th>
    <td>{{ v2.state }}</th>
  </tr>
{% endfor %}
{% endfor %}
</table>
{% endfor %}
<!--show OSPF Interface errors-->
<h1> OSPF Interface Validation errors </h1>
<table>
  <tr>
    <th>Router Name</th>
    <th>Process/Area/Interface</th>
    <th>State Found</th>
  </tr>
{% for item in ospf_error_data | dict2items %}
{% if 'errors' in item.value %}
  <tr>
    <td>{{  item.key }}</th>
    <td>{{ item.value.errors[0].data_path }}</th>
    <td>{{ item.value.errors[0].found }}</th>
  </tr>
{% endif %}
{% endfor %}
</table>
<!--default route information-->
<h1> Default Route status for Branch Routers </h1>
<table>
  <tr>
    <th>Router Name</th>
    <th>Default route Present? </th>
  </tr>
{% for item in def_route_data | dict2items %}
{% if item.value.default_route == True %}
  <tr>
    <td>{{  item.key }}</th>
    <td>{{ item.value.default_route }}</th>
  </tr>
{% elif item.value.default_route == False %}
  <tr>
    <td>{{  item.key }}</th>
    <td><b>{{ item.value.default_route }}</b></th>
  </tr>
{% endif %}
{% endfor %}
</table>
<!--ping information-->
<h1> Branch routers pinging <b>rtr_core</b> </h1>
<table>
  <tr>
    <th>Router Name</th>
    <th>successful pings</th>
  </tr>
{% for item in ping_result_data | dict2items %}
{% if item.value.ping_result == 'passed' %}
  <tr>
    <td>{{  item.key }}</th>
    <td><b>All Pings Successful</b></th>
  </tr>
{% else  %}
  <tr>
    <td><b>{{  item.key }}</b></th>
    <td><b>{{ item.value.ping_result }}</b></th>
  </tr>
{% endif %}
{% endfor %}
</table>