## OSPF Neighbors

{% for item in ospf_nei_data | dict2items %}
{% if item.key == 'no OSPF neighbors found' %}
| {{ item.key }}
{% endif %}
# {{ item.key }}
| Interface Name | Neighbor Router ID | State
| ---------------- | ------------------ | -------- |
{% for k, v in item.value.items() %}
{% for nei, v2 in v.neighbors.items() %}
| {{ k }} | {{ nei }} | {{ v2.state }}
{% endfor %}
{% endfor %}
{% endfor %}
