# Platform Pete Industries - Network Documentation

## Router Interfaces

{% for item in interface_data | dict2items %}
#### **{{ item.key }}**
| Interface Name | status | line protocol
| -------------- | ------- | ------------ |
{% for k, v in item.value.items() %}
| {{ k }} | {{ v.status }} | {{ v.protocol }} |
{% endfor %}
{% endfor %}

## OSPF Neighbors

{% for item in ospf_nei_data | dict2items %}
### **{{ item.key }}**
| Interface Name | Neighbor Router ID | State
| ---------------- | ------------------ | -------- |
{% for k, v in item.value.items() %}
{% for nei, v2 in v.neighbors.items() %}
| {{ k }} | {{ nei }} | {{ v2.state }}
{% endfor %}
{% endfor %}
{% endfor %}

## OSPF Interface Validation errors
| Router Name | Process/Area/Interface | State Found |
| ----------- | ------------------------ | ---------- |
{% for item in ospf_error_data | dict2items %}
{% if 'errors' in item.value %}
| {{ item.key }} | {{ item.value.errors[0].data_path }} | {{ item.value.errors[0].found }}
{% endif %}
{% endfor %}

## Default Route status for Branch Routers
| Router Name | Default route Present? 
| -------------- | ------- | 
{% for item in def_route_data | dict2items %}
{% if item.value.default_route == True %}
| {{ item.key }} | {{ item.value.default_route}}
{% elif item.value.default_route == False %}
| **{{ item.key }}** | **{{ item.value.default_route }}**
{% endif %}
{% endfor %}
